---
title: Deploying Aqua Enforcers
owner: Partners
---

## <a id="image-scanning"></a> Deploying Aqua Enforcers

This section describes the deployment of an Aqua Enforcer with BOSH on all Diego cells in your CF cluster nodes by using a deployment add-on, which automatically deploys a single Aqua Enforcer container on each Diego cell in your cluster.

First, you create a new Enforcer group in the Aqua Server. An Enforcer group is a set of Aqua Enforcers with the same configuration. You need to create one that will work with Pivotal Application Service (PAS); you cannot use the default Enforcer group for this.

A byproduct of the Enforcer group creation is the add-on required for BOSH. Aqua does not automatically deploy the Enforcer on Diego cells; you do this by using BOSH commands.

All Enforcers deployed with the following commands will have the same configuration. If you need Enforcers with different characteristics, you will need to create one or more additional Enforcer groups.

### <a id="create-an-enforcer-group"></a> Create an Enforcer group

1. In the Aqua UI: Click **Enforcers**.
2. Click **Add Enforcer Group**.
3. On the **Enforcers > Create new group** screen that appears, fill in these settings: 

**Basic parameters**

<table class="nice">
    <th>Parameter</th>
    <th>Description</th>
    <tr>
        <td>Enforcer Type</td>
        <td>Select Aqua Enforcer</td>
    </tr>
    <tr>
        <td>Group Name</td>
        <td>Enter the name for the Enforcer Group; this name will appear in the list of Enforcer groups</td>
    </tr>
    <tr>
        <td>OS Type</td>
        <td>Select the OS type for the host</td>
    </tr>
    <tr>
        <td>Orchestrator</td>
        <td>Pivotal Application Service (PAS)</td>
    </tr>
    <tr>
        <td>Service Account</td>
        <td>(do not specify this)</td>
    </tr>
    <tr>
        <td>Container Runtime</td>
        <td>Select the container runtime environment from the drop-down list</td>
    </tr>
    <tr>
        <td>Project</td>
        <td>(do not specify this)</td>
    </tr>
    <tr>
        <td>Logical Name (optional)</td>
        <td>A logical name for the Enforcer image; this can be any text string</td>
    </tr>
    <tr>
        <td>Aqua Gateways</td>
        <td>Select the Aqua Gateway(s) that the Enforcer will use to communicate with the Aqua Server. At this point, there will be only one Gateway.</td>
    </tr>
    <tr>
        <td>Installation Token</td>
        <td>Leave this field blank; a value will be generated automatically, and used in the DaemonSet</td>
    </tr>
    <tr>
        <td>Description (optional)</td>
        <td>A description for the DaemonSet YAML command</td>
    </tr>
</table>

**Security settings**
<table class="nice">
    <th>Setting</th>
    <th>Explanation</th>
    <tr>
        <td>Enforcement Mode</td>
        <td>Select **Enforcement** for the Enforcer to enforce Runtime Policies on containers on this host. Select **Audit Only** if you do not want the Enforcer to enforce Runtime Policies. In Audit Only mode, the Enforcer will add audit entries for any Runtime Policy violations.</td>
    </tr>
    <tr>
        <td>Allowed Aqua Labels</td>
        <td>Select labels that must be assigned to images in order for the images to be permitted to run on the host; if blank, an image with any (or no) label will be permitted.</td>
    </tr>
    <tr>
        <td>Allowed Registries</td>
        <td>Select registries from which images can be pulled, to run as containers on the host; if blank, all registries are permitted.</td>
    </tr>
</table>

**Auditing settings**
<table class="nice">
    <th>Setting</th>
    <th>Explanation</th>
    <tr>
        <td>Audit host successful login events</td>
        <td>If selected, successful host logins will generate Audit events.</td>
    </tr>
    <tr>
        <td>Audit host failed login events</td>
        <td>If selected, failed host logins will generate Audit events.</td>
    </tr>
</table>

**Container Protection settings**
<table class="nice">
    <th>Setting</th>
    <th>Explanation</th>
    <tr>
        <td>Image Assurance</td>
        <td>Selecting this option will prevent containers from running based on Container Runtime Policy controls such as "Block Unregistered Images" and "Block Non-compliant Images", or the "Blacklisted Images" control under the Default Image Assurance Policy.</td>
    </tr>
    <tr>
        <td>Runtime Activity</td>
        <td>Selecting this option will apply Container Runtime Policies, Image Profiles, and Service membership rules.</td>
    </tr>
    <tr>
        <td>System Call Monitoring</td>
        <td>This option is available only if Runtime Activity is selected. Selecting this option will allow profiling and monitoring system calls made by running containers.</td>
    </tr>
    <tr>
        <td>Container Firewall</td>
        <td>Selecting this option will apply Container Firewall Policies and allow recording network maps for services.</td>
    </tr>
    <tr>
        <td>User Access Control</td>
        <td>Selecting this option will apply User Access Control Policies. Enforcers must be deployed with the "AQUA_RUNC_INTERCEPTION" environment variable set to 0 in order to use User Access Control Policies.</td>
    </tr>
</table>

**Host Protection settings**
<table class="nice">
    <th>Setting</th>
    <th>Explanation</th>
    <tr>
        <td>Runtime Controls</td>
        <td>Selecting this option will apply host-related Container Runtime Policy controls: Forensics (Host), Whitelisted OS Users and Groups, and Blacklisted OS Users and Groups.</td>
    </tr>
</table>

**Advanced settings**
<table class="nice">
    <th>Setting</th>
    <th>Explanation</th>
    <tr>
        <td>Host Images Discovery</td>
        <td>Selecting this option will allow Enforcers to discover local host images. The images will be listed under Images → HOST IMAGES, as well as under Hosts, in the Images tabs of given hosts.</td>
    </tr>
</table>

4. Click **Create Group**. You should see a new screen titled **Enforcers > Create new group**. The message "Enforcers group <group-name> successfully created" will be displayed briefly in the upper-right corner of the screen.
5. Follow the instructions displayed on the screen:
   
![deploy-Enforcer-Group](images/deploy-Enforcer-Group.png)
