---
title: Aqua Security for PCF (Beta)
owner: Partners
---

<p class="note warning"><strong>WARNING:</strong>
The Aqua Security for Pivotal Cloud Foundry (PCF) tile is currently in beta and is intended for evaluation and test purposes only.
Do not use this product in a PCF production environment.</p>

This topic describes the Aqua Security for PCF tile.

As a PCF operator, you can download and install the Aqua Security for PCF tile to deploy the Aqua Command Center in your PCF environment, which security teams can then use to set policies that determine whether your PCF droplets meet your organization’s security policies and may be deployed.
As a developer, you can perform security scanning of your PCF applications at build time with immediate feedback about vulnerabilities and open source licenses in your code, all while complying with corporate GRC policies. 



## <a id='overview'></a>Overview

Aqua Security enables enterprises to secure their container and cloud-native applications from development to production, accelerating application deployment and bridging the gap between DevOps and IT security. Aqua's Container Security Platform provides full visibility into container activity, allowing organizations to detect and prevent suspicious activity and attacks in real time. Integrated with container lifecycle and orchestration tools, the Aqua platform provides transparent, automated security while helping to enforce policy and simplify regulatory compliance.

 
Aqua Security for PCF enables customers to automatically scan droplets using the Aqua Decorator buildpack. It supports more than forty languages, including Java, Go, C++, Python, Ruby, NodeJS, and more, as well as static binaries. Aqua then either allows or prevents the droplets' transition to the running environment, based on the scan results matched against your organization's security policy. In addition, users can view detailed droplet risk information directly from within their preferred CI/CD tool (e.g. Concourse, Jenkins, TeamCity, etc.).



## <a id='features'></a>Key Features

With Aqua Security for PCF, you can benefit from these capabilities:

* Scan droplets for known vulnerabilities based on data from multiple resource feeds (public CVEs, vendor-issued, proprietary vulnerability data streams, and malware)
* Block unauthorized droplets based on droplet assurance policies, for example:
  * Stop unknown droplets
  * Stop droplets by CVEs and score
  * Detect and stop droplets with hardcoded secrets
* Add custom compliance checks (bash, OPAL, and powershell-based)
* View actionable mitigation information on how to mitigate detected vulnerabilities
* Gain visibility into droplet vulnerabilities directly from CI tools (e.g. Concourse, Jenkins, TeamCity, Bamboo, Microsoft VSTS, etc.) and Aqua dashboard
* Scan docker registries to identify unregistered containers



## <a id="snapshot"></a>Product Snapshot

<p class='note'><strong>Note:</strong> As of PCF v2.0, Elastic Runtime is renamed Pivotal Application Service (PAS).</p>

The following table provides version and version-support information about Aqua Security.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>version 0.8.9</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>May 23, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>version 0.8.9 </td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.11.x, v1.12.x, v2.0.x, and v2.1.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v1.11.x, v1.12.x, v2.0.x, and v2.1.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>All platforms</td>
    </tr>

</table>

<p class="note"><strong>Note:</strong>
Upgrades from Aqua Security for PCF v0.8.1 or v0.8.7 to v0.8.9 are not supported. If you previously installed Aqua Security for PCF v0.8.7 or v0.8.1, uninstall it and install the latest version.</p>


## <a id="reqs"></a>Requirements

Aqua Security for PCF has the following requirements:
A purchased or thirty-day trial license provided by Aqua Security. You can request a trial license [here](https://www.aquasec.com/aqua-signup/?type=pcf) or by emailing [Aqua Security Sales](mailto:pcf-sales@aquasec.com).


## <a id="feedback"></a>Feedback
If you have a feature request, questions, or information about a bug, please email [Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list or send an email to[Aqua Security Support](mailto:pcf-support@aquasec.com).


## <a id="troubleshooting"></a>Troubleshooting

For help with troubleshooting this product, contact [Aqua Security Support](mailto:pcf-support@aquasec.com)
