---
title: Aqua Security for VMware Tanzu
owner: Partners
---

This topic describes the **Aqua Cloud Native Security Platform for VMware Tanzu**.

## <a id='overview'></a>Overview

Aqua Cloud Native Security Platform (CSP) enables enterprises to secure their applications from development through production, accelerating application deployment and bridging the gap between DevOps and IT security. Aqua CSP provides full visibility into application instance activity, allowing organizations to detect and prevent suspicious activity and attacks in real time. Aqua CSP provides transparent, automated security while helping enforce policies and simplify regulatory compliance.

## <a id='features'></a>Key Features

With Aqua Security for VMware Tanzu, you can benefit from these capabilities:

**Applications**

* Automatically scan applications using the Aqua Decorator buildpack. Applications are scanned for known vulnerabilities, sensitive data, and malware, based on data from multiple resource feeds (public CVEs, vendor-issued, and proprietary vulnerability data streams). Scanning supports multiple languages, including Java, C++, Python, Ruby, and NodeJS, as well as static binaries.
* Determine application compliance with corporate security (GRC) policies
* Define and use an assurance policy to block unauthorized applications, such as those that contain high-severity vulnerabilities, hard-coded secrets, or malware
* Add custom compliance check scripts
* View actionable information on how to mitigate detected vulnerabilities
* Gain visibility into application vulnerabilities directly from CI tools (e.g., Concourse, Jenkins, TeamCity, Bamboo, Microsoft VSTS, etc.)
* Secure applications during runtime: block risky applications from running, prevent running applications from performing specified activities, and impose network firewall policies

**Diego cells**
* Automatically scan Diego cells hosts. Diego cells are scanned for known vulnerabilities, sensitive data, and malware, based on data from multiple resource feeds (public CVEs, vendor-issued, and proprietary vulnerability data streams).
* Determine Diego cell compliance with corporate security (GRC) policies and CIS Benchmarks
* Monitor user activity inside Diego cells

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about Aqua Security.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v5.0.20190</td>
    </tr>
    <tr>
        <td>Release date (GA)</td>
        <td>July 15, 2020</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v5.0.20190</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.5.x, v2.6.x, v.2.8.x, v2.9.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.5.x, v2.6.x, v2.8.x, v2.9.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>All platforms</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

Aqua Security for VMware Tanzu has the following requirements:

* A purchased or thirty-day trial license provided by [**Aqua Security**](https://www.aquasec.com). You can request a trial license [**here**](https://www.aquasec.com/aqua-signup/?type=pcf) or by emailing [Aqua Security Sales](mailto:pcf-sales@aquasec.com).


## <a id="feedback"></a>Feedback
If you have a feature request, questions, or information about a bug, please email [VMware Tanzu Feedback](mailto:cf-feedback@pivotal.io) list or send an email to [Aqua Security Support](mailto:pcf-support@aquasec.com).


## <a id="troubleshooting"></a>Troubleshooting

For help with troubleshooting this product, contact [Aqua Security Support](mailto:pcf-support@aquasec.com).
