---
title: Installing and Configuring Aqua Security for VMware Tanzu
owner: Partners
---

This topic describes how to install and configure Aqua Security for VMware Tanzu.

## <a id="upload-tile"></a>Upload Tile

1. Download the product file from Pivotal Network.

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of Aqua Security. This adds the tile to your staging area.

1. Click the newly added **Aqua Security for VMware Tanzu** tile.

## <a id="configuration"></a>Configuration

There are several panels of configuration for Aqua Security that you need to configure.

### <a id="configuration-azs-networks"></a>Assign AZs and Networks

If you have configured more than one network in your BOSH Director,
you need to select which network must be used when installing this tile.

![installation-azs-networks](images/azs-networks.png)

1. Click **Save**.

### <a id="configuration-license"></a>License

Aqua Security requires an Enterprise or trial license, which can be obtained [here](https://www.aquasec.com/aqua-signup/?type=pcf).

1. Paste the key in the **Aqua Security License** field.
    ![installation-license](images/license.png)

1. Click **Save**.

### <a id="configuration-database"></a>Databases

The Aqua Security tile requires a database to store configuration, scan data, etc.

You can configure Aqua Security to use the provided internal PostgreSQL database, or you can configure an external database provider for the databases. PostgreSQL v9.5 or higher is required for this.

#### <a id="configuration-database-internal"></a>Internal Database Configuration

If you want to use internal databases for your deployment, do the following:

1. In **Aqua Security > Settings**, select **Databases**.

1. Select **Internal Database (High-availablity not guaranteed)**.
    ![installation-database-internal](images/database-internal.png)

1. Click **Save**.

#### <a id="configuration-database-postgresql"></a>External PostgreSQL Database

<p class='note'><strong>Note:</strong> The exact procedure to create databases depends upon the database provider you select for your deployment.</p>

<p class='note warning'><strong>WARNING:</strong> Protect the database you use in your deployment with a password.</p>

For installations that require the use of external PostgreSQL databases for your deployment, do the following:

1. In **Aqua Security > Settings**, select **Databases**.

2. Select **External Postgres 9.5.x+ Database**.
    ![installation-shield-database-postgresql](images/external-database-postgresql.png)

3. Complete the following fields:
    | Field | Notes |
    | --- | --- |
    | **Hostname DNS Name** | Specify the hostname of the database server |
    | **TCP Port** | Specify the port of the database server |
    | **Username** | Specify a unique username that can access this specific database on the database server |
    | **Password** | Specify a password for the provided username |
    | **Aqua Database Name** | Specify the database name on the database server |
    | **Aqua Audit Database Name** | Specify the database name on the database server |
    <p class='note'><strong>Note:</strong> Ensure that the database has been created before clicking **Save**.</p>

4. Click **Save**.

### <a id="configuration-stemcell"></a>Stemcell

If required to upload a particular stemcell series, you can find the latest available stemcell (Ubuntu Xenial) at [Pivotal Network](https://network.pivotal.io/products/stemcells-ubuntu-xenial/).

![installation-shield-stemcell](images/stemcell.png)

## <a id="installation"></a>Installation

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes** to install Aqua Security tile.

![installation-shield-stemcell](images/pending-changes.png)
