---
title: Release Notes for Aqua Security for PCF (Beta)
owner: Partners
---

These are release notes for Aqua Security for PCF.

##<a id="ver"></a> v0.8.6

**Release Date:** April 22, 2018

* Beta release with updated manifest

##<a id="ver"></a> v0.8.1

**Release Date:** March 5, 2018

* Beta release with updated manifest


##<a id="ver"></a> v0.8.0

**Release Date:** March 2, 2018

* Initial Beta release
