---
title: Release Notes for Aqua Security for PCF
owner: Partners
---

These are release notes for Aqua Security for PCF.

##<a id="ver"></a> v4.2.0

**Release Date:** July 17, 2019

* Updating Aqua Security components to version 4.2
* Add support to enforcer bosh release as add-on
* Support Aqua gRPC
* Changed version numbering from 1.0.0 to 4.2.0

##<a id="ver"></a> v1.0.0

**Release Date:** March 19, 2019

* Initial GA release 
* Updating Aqua Security components to version 3.5
* Fix vulnerabilities issue
* Updating stemcells version to Ubuntu Xenial
* Updating PostgreSQL, HAProxy, Routing to the latest bosh released versions
* Updating Docker Bosh version to the last version
* Update the aqua server and gateway bosh release 

##<a id="ver"></a> v0.8.9

**Release Date:** September 28, 2018

* Initial GA release 

**Release Date:** May 24, 2018

* Removed static IP requirements in tile and replaced with BOSH links in support of PAS v2.1.
* Beta release 

##<a id="ver"></a> v0.8.7

**Release Date:** April 25, 2018

* Beta release. Added improved logging upon a failed scan and the ability to bypass self-signed certs checking.

##<a id="ver"></a> v0.8.1

**Release Date:** March 5, 2018

* Beta release with updated manifest


##<a id="ver"></a> v0.8.0

**Release Date:** March 2, 2018

* Initial Beta release
