---
title: Using Aqua Security Console
owner: Partners
---

##<a id="console"></a>Console

After you've installed and deployed the tile, you can login to the Aqua Security Console which will appear similar to:

![webui-console](images/webui-console.png)

The URL for your Aqua Security Console is `https://aquasec.[system domain]`.

You will be prompted for Username and Password.

The Aqua Security credentials are located in Ops Manager:

![credentials](images/installation-console-credentials.png)

The full set of Aqua Security documentation can be accessed [here.](https://docs.aquasec.com/docs)
