---
title: Using Aqua Security Console
owner: Partners
---

##<a id="console"></a>Console

After you have installed and deployed the tile, you can log in to the Aqua Security Console.

![webui-console](images/webui-console.png)

The URL for your Aqua Security Console is `https://aquasec.[system domain]`.

You will be prompted for a username and password. The Aqua Security credentials are located in Ops Manager.

![credentials](images/installation-console-credentials.png)

The full set of Aqua Security documentation can be accessed [here](https://docs.aquasec.com/docs).
